Source: clevo-airplane-mode
Section: x11
Priority: optional
Maintainer: Benoit GUERIN <benoit.guerin@gmail.com>
Standards-Version: 3.9.6
Build-Depends: debhelper

Package: clevo-airplane-mode
Architecture: all
Depends: ${misc:Depends}, bash (>= 4.2), rfkill, tuxedo-wmi-dkms, x11-xserver-utils
Description: Clevo Airplane Mode button and LED handling.
 This package brings all needed to handle airplane mode button
 and led on Clevo laptops.
